EXPO_PUBLIC_SUPABASE_URL=https://tkweddqlriikqgylsuxz.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_API_BASE_URL=https://tour.you
EXPO_PUBLIC_SITE_URL=https://tour.you
EXPO_PUBLIC_META_MODEL_API_KEY=
